.header {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  align-items: center;
}
.header__logo {
  flex: 1;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header__logo img {
  height: 35px;
  width: 35px;
  margin-right: 0.09rem;
}

.header__searchBar {
  position: relative;
}

.header__searchBar input {
  padding: 0.5rem;
  border-radius: 9px;
  border-width: 0.2px;
}

.header__searchBar input:first-child,
.header__searchBar
  input:first-child:active
  .header__searchBar
  input:first-child:focus {
  position: absolute;
  left: -160px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.header__searchBar input:last-child {
  padding-left: 45px;
  width: 10rem;
}

@media screen and max-width(661) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}
